body{
    background-color: rgb(186, 255, 232);
}

.cabeçalho{
    background-color: rgb(95, 163, 190);
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    border-radius: 10px;
}
.img_cabe{
    width: 90px;
    height: 80px;
    justify-content: right;
}
.img_cabe2{
    width: 90px;
    height: 80px;
    justify-content: left;   
}